# KATA 9

In [1]:
def rocket_parts():
    print('payload, propellant, structure')

In [2]:
rocket_parts()

payload, propellant, structure

In [3]:
from datetime import timedelta, datetime

def arrival_time(hours=51):
    now = datetime.now()
    arrival = now + timedelta(hours=hours)
    return arrival.strftime('Arrival: %A %H:%M')

In [4]:
arrival_time()

'Arrival: Friday 01:33'

In [5]:
arrival_time(hours = 0)

'Arrival: Tuesday 22:34'

In [6]:
def sequence(*args):
    total = sum(args)
    if total < 60:
        return f'Total time: {total}'
    else:
        return f'Total time: {total/60}'

In [8]:
sequence(6)

'Total time: 6'

In [9]:
def variable_length(**kwargs):
    print(kwargs)

In [10]:
variable_length(tanks=1, day='Wednesday', pilots=3)

{'tanks': 1, 'day': 'Wednesday', 'pilots': 3}

In [15]:
def members(**kwargs):
    print(f'{len(kwargs)} astronauts assigned for this mission: ')
    for title, name in kwargs.items():
        print(f'{title}: {name}')

In [16]:
members(captain='Neil Armstrong', pilot='Buzz Aldrin', command_pilot='Michael Collins')

3 astronauts assigned for this mission:
captain: Neil Armstrong
pilot: Buzz Aldrin
command_pilot: Michael Collins

## Ejercicio 1

In [17]:
def lecturas(primero, segundo, tercero):
    promedio = (primero + segundo + tercero) / 3
    return f"""Reporte:
    Promedio: {promedio}%
    Primer tanque: {primero}%
    Segundo tanque: {segundo}%
    Tercer tanque: {tercero}%
"""

In [18]:
print(lecturas(50, 60, 80))

Reporte:
    Promedio: 63.333333333333336%
    Primer tanque: 50%
    Segundo tanque: 60%
    Tercer tanque: 80%

In [20]:
def promedio(valores):
    total = sum(valores)
    num_valores = len(valores)
    return total / num_valores

promedio([60, 50, 35])

48.333333333333336

In [23]:
def reporte(primero, segundo, tercero):
    return f"""Reporte completo:
    Promedio: {promedio([primero, segundo, tercero])}%
    Primer tanque: {primero}%
    Segundo tanque: {segundo}%
    Tercer tanque: {tercero}%
    """

print(reporte(50, 60, 70))

Reporte completo:
    Promedio: 60.0%
    Primer tanque: 50%
    Segundo tanque: 60%
    Tercer tanque: 70%

## Ejercicio 2

In [27]:
def informe(destino, hora_lanzamiento, tiempo_vuelo, externo, interno):
    return f"""Reporte de la mision:
    Destino: {destino} 
    Tiempo de vuelo: {hora_lanzamiento + tiempo_vuelo} minutos
    Capacidad del tanque: {externo + interno} litros
    """
print(informe('Marte', 15, 20, 50, 60))

Reporte de la mision:
    Destino: Marte
    Tiempo de vuelo: 35 minutos
    Capacidad del tanque: 110 litros

In [29]:
def informe_completo(destino, *minutos, **tanques):
    tiempo = sum(minutos)
    return f"""Reporte optimizado:
    Destino: {destino}
    Tiempo de vuelo: {tiempo} minutos
    Capacidad del tanque: {sum(tanques.values())} litros
    """
    
print(informe_completo('Jupiter', 10, 15, 20, primero = 20, segundo = 55, tercero = 80))

Reporte optimizado:
    Destino: Jupiter
    Tiempo de vuelo: 45 minutos
    Capacidad del tanque: 155 litros

In [34]:
def informe_detallado(destino, *minutos, **tanques):
    tiempo = sum(minutos)
    reporte = f"""Reporte optimizado:
    Destino: {destino}
    Tiempo de vuelo: {tiempo} minutos
    Capacidad total del tanque: {sum(tanques.values())} litros
    """
    for nombre,  num in tanques.items():
        reporte += f"{nombre}: {num} litros\n"
    return reporte

print(informe_detallado('Tierra', 10, 20, 30, primero = 30, segundo = 50, tercero = 60))

Reporte optimizado:
    Destino: Tierra
    Tiempo de vuelo: 60 minutos
    Capacidad total del tanque: 140 litros
    primero: 30 litros
segundo: 50 litros
tercero: 60 litros