# KATA 8

In [24]:
planet = {
    'name': 'Earth',
    'moons': 1
}
print(planet.get('name'))
print(planet.values())
print(planet['name'])

Earth
dict_values(['Earth', 1])
Earth

In [25]:
# Errores
print(planet.get('name'))
# print(planet['gravity'])

Earth

In [26]:
planet.update({'name': 'Makemake'})
print(planet.get('name'))

Makemake

In [27]:
planet.update({
    'name': 'Jupiter',
    'moons': 79
})

print(planet)
"""
planet['name'] = 'Neptune'
planet['moons'] = 56
print(planet)
"""

{'name': 'Jupiter', 'moons': 79}

"\nplanet['name'] = 'Neptune'\nplanet['moons'] = 56\nprint(planet)\n"

In [28]:
planet['diamenter'] = {
    'polar' : 98765,
    'equatorial' : 12345
}

print(planet['diamenter'])

{'polar': 98765, 'equatorial': 12345}

In [30]:
print(f"{planet['name']} polar distance: {planet['diamenter']['polar']}")
print(f"{planet['name']} has {planet['moons']} moons")

Jupiter polar distance: 98765
Jupiter has 79 moons

In [32]:
# Programacion dinamica con diccionarios
rainfall = {
    'october' : 3.5,
    'november' : 4.2,
    'december' : 2.1
}

In [33]:
suma = 0.0
for i in rainfall.keys():
    print(f'{i}: {rainfall[i]}')
    suma += rainfall[i]

print('Total: ', suma)

october: 3.5
november: 4.2
december: 2.1
Total:  9.8

In [34]:
if 'december' in rainfall:
    rainfall['december'] = rainfall['december'] + 1
else:
    rainfall['december'] = 1

print(f"{rainfall['december']}")

3.1

In [35]:
total = 0
for value in rainfall.values():
    total += value

print(f'There was {total} in the last quarter year')

There was 10.8 in the last quarter year

## Ejercicio 1

In [36]:
planet = {
    'key': 'Mars',
    'number': 42
}

In [38]:
print(f"The planet is {planet['key']} and it has {planet['number']} moons")

The planet is Mars and it has 42 moons

In [39]:
planet['circunferencia (km)'] = {
    'polar' : 6752,
    'equatorial' : 692
}

In [41]:
print(f"Planeta: {planet['key']}\nCircunferencia polar: {planet['circunferencia (km)']['polar']}")

Planeta: Mars
Circunferencia polar: 6752

## Ejercicio 2

In [42]:
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [45]:
moons = len(planet_moons.values())
planets = len(planet_moons.keys())

In [46]:
total_moons = 0
for moon in planet_moons.values():
    total_moons += moon

average = total_moons / planets
print('Total: ', total_moons)
print('Average: ', average)

Total:  214
Average:  17.833333333333332