# KATA 4

In [1]:
# Comillas simples y dobles
print('The "near side" is the part of the Moon that faces the Earth')

The "near side" is the part of the Moon that faces the Earth

In [6]:
# Comilla triple
cadena = """ Facts about the moon:
There is not atmosphere
There is no water
There is no sound"""

print(cadena)

 Facts about the moon:
There is not atmosphere
There is no water
There is no sound

In [16]:
# Metodos String
texto = "Curso de Introduccion a Python"
print(texto.title().upper())
print(texto.split())

texto2 = "Buenas. tardes"
print(texto2.split('.'))

print("Python" in texto)
print(texto.find("Python"))
print(texto.count("python"))

CURSO DE INTRODUCCION A PYTHON
['Curso', 'de', 'Introduccion', 'a', 'Python']
['Buenas', ' tardes']
True
24
0

In [31]:
mars_temperature = 'The highest temperature on Mars is about 30 C'
for item in mars_temperature.split():
    if item.isnumeric():   # isnumeric() no funciona con numeros negativos
        print(item)

30

In [32]:
temperatures = 'Mars Average Temperature: -60 C'
parts = temperatures.split(':')
parts
parts[1]

' -60 C'

In [34]:
texto3 = "La temperatura es de 50 K"
print("Reporte de la temperatura:")

if texto3.endswith('C'):
    print("La temperatura esta en grados Celsius")
else:
    print("La temperatura no esta en grados Celsius")
    
if '-' in texto3:
    print("Temperaturas bajo cero")
else:
    print("Temperaturas arriba de cero")

Reporte de la temperatura:
La temperatura no esta en grados Celsius
Temperaturas arriba de cero

In [36]:
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
'\n'.join(moon_facts)

'The Moon is drifting away from the Earth.\nOn average, the Moon is moving about 4cm every year'

In [42]:
cadena2 = 'Hola'
edad = '19'
print('{}, mi nombre es Amanda'.format(cadena2))
print('{saludo}, mi nombre es {amanda} y tengo {anios} anios'.format(saludo = cadena2, amanda = 'Amanda', anios = edad))
print(f'{cadena2}, mi nombre es Amanda y tengo {10 + 9} anios')
f'{cadena2.upper()}'

Hola, mi nombre es Amanda
Hola, mi nombre es Amanda y tengo 19 anios
Hola, mi nombre es Amanda y tengo 19 anios

'HOLA'

## Ejercicio 1

In [66]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth."""
text_parts = text.split('.')

In [71]:
# Metodo 1 para resolver el problema
for i in text.split('.'):
    if 'average' in i:
        print(i)
    if 'temperature' in i.lower():
        print(i)
    if 'distance' in i.lower():
        print(i)

On average, the Moon moves 4cm away from the Earth every year

In [70]:
# Metodo 2 para resolver el problema
clue = ['average', 'temperature', 'distance']

In [69]:
for i in text_parts:
    for j in clue:
        if j in i:
            print(i)

On average, the Moon moves 4cm away from the Earth every year

In [72]:
for i in text_parts:
    i.replace('C', 'Celsius')

print(text_parts)

['Interesting facts about the Moon', " The Moon is Earth's only satellite", ' There are several interesting facts about the Moon and how it affects life here on Earth', ' \nOn average, the Moon moves 4cm away from the Earth every year', ' This yearly drift is not significant enough to cause immediate effects on Earth', '']

## Ejercicio 2

In [8]:
# Definir datos que se trabajaran
nombre = "Luna"
gravedad = 0.00162  # kms
planeta = "Tierra"

In [2]:
# Titulo
titulo = f'Datos de la gravedad de {planeta}'

In [6]:
datos = f"""{'-'*50}
Nombre: {planeta}
Gravedad: {gravedad*1000} m/s2
"""

In [7]:
print(datos)

--------------------------------------------------
Nombre: Earth
Gravedad: 1.6199999999999999 m/s2

In [12]:
plantilla = """
Datos de: {nombre}
-----------------------------------------------
Planeta: {planeta}
Gravedad: {gravedad} m/s2
"""
print(plantilla.format(nombre = nombre, planeta = planeta, gravedad = gravedad*1000))

Datos de: Luna
-----------------------------------------------
Planeta: Tierra
Gravedad: 1.6199999999999999 m/s2